* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    --dark-blue: #0a2463ff;
    --light-blue: #3e92ccff;
    --off-white: #fffaffff;
    --red: #d8315bff;
    --dark-red: rgb(163, 47, 76);
    --off-black: #1e1b18ff;
    --offer-black: rgb(34, 33, 32);
    --green: rgb(90, 145, 131);
}

body {
    background-color: var(--off-black);
    color: var(--off-white);
    margin: 0;
    padding: 0;
    height: 100svh;
    width: 100%;
    display: grid;
    /* grid: 3 / 1; */
    grid-template-columns: 100%;
    grid-template-rows: 1.5fr 8fr 0.5fr;
    overflow-x: hidden;
}
header {
    overflow: hidden;
}
header h1 {
    font-family: 'Playwrite CU';
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
main {
    height: 80svh;
    width: 95%;
    max-width: 70rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

input[type=button], input[type=submit], input[type=reset] {
    color: var(--off-white);
    font-weight: bold;
    background-color: var(--light-blue);
    padding: 0.3rem 0.5rem;
    border: 0px solid var(--dark-blue);
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.2s, filter 0.2s;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
    margin-left: 0.25rem;
}
input[type=reset] {
    background-color: var(--green);
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    transform: translateY(-1px);
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.2));
}
input[type=text] {
    border-radius: 5px;
    border: 0px solid;
    padding: 0.2rem;
    font-weight: 400;
}
input[type=color] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 8px;
    background: none;
    cursor: pointer;
    transition: transform 0.2s, filter 0.2s;
    
}
input[type=color]:hover {
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.2));
}
input[type=color]::-webkit-color-swatch {
    border-radius: 8px;
    border: none;
}
input[type=color]::-moz-color-swatch {
    border-radius: 8px;
    border: none;
}

.user-edit-section {
    /* width: 80%; */
    /* margin: 0 auto; */
    display: flex;
    height: 10rem;
    width: 100% ;
    justify-content: center;
    align-items: center;
}
.user-edit-button {
    visibility:visible;
    background-color:var(--red);
    padding: 0.3rem 0.5rem;
    border: 1px solid var(--dark-red);
    font-size: 0.9rem;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    color: var(--off-white);
    border-radius: 15px;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.2s, font-size 0.2s, opacity 0.35s ease-in, filter 0.2s;
    opacity: 1;
    cursor: pointer;
}
.user-edit-button:hover {
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.7));
    transform: translateX(-50%) scale(1.05);
}
.user-edit {
    visibility: hidden;
    /* height: 2rem; */
    line-height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    transition: opacity 0.35s ease-in;
    opacity: 0;
}
.user-edit input {
    margin: 0 0.75rem 0 0rem;
}
.user-edit label {
    margin-right: 0.25rem;
}
.user-edit input[type=text] {
    min-width: 2rem;
    max-width: 10rem;
}
.chat-wrapper { /* for simplebar scrollbar */
    height: 100%;
    overflow: auto;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    background-color: var(--off-white);
    margin-left: 0.1rem;
}
.chat {
    background-color: var(--offer-black);
    padding: 0.8rem;
    /* overflow-y: auto;
    overflow-x: hidden;
    height:100%; */
    border-radius: 20px;
    margin: 0 0.75rem;
}
.chat-user::after {
    content: " ";
}
.chat-input {
    margin: 0.5rem 0.75rem;
    display: flex;
    gap: 0.2rem;
}
.chat-input input[type=text] {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}
.chat-input input[type=submit] {
    width: 5rem;
    height: 100%;
    border-radius: 10px;
    transition: opacity 0.4s;
}
.chat-input input[type=submit]:disabled {
    opacity: 0.2;
    pointer-events: none;
}

.chat-button {
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.15rem 0.3rem 0.2rem 0.3rem;
    margin-left: 0.2rem;
    background-color: transparent;
    border: none;
    color: var(--off-white);
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    transition: transform 0.1s;
}
.chat-like-button[data-toggled="true"] {
    font-weight: bold;
    background-color: #d49f2b47;
}
.chat-button:hover {
    transform: scale(1.2);
}
.chat-button[data-toggled="true"]:hover {
    transform: scale(1);
}
.hidden {
    opacity: 0;
}

time {
    float: right;
    color: #757474;
}
.text-highlight {
    color: var(--off-white);
}


@media (max-width: 768px) {
    .user-edit input[type=submit] {
        display: block;
    }
}